# Version control and CI
.git
.github
.aws
.gitignore

# Env files
.env
.env*

# Docker files
Dockerfile*
docker-compose*.yml
.dockerignore

# Documentation and assets
LICENSE*
README.md
logo.jpg
docs/
public/assets/images/*

